.card {
    background: white;
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    cursor: grab;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .delete-btn {
    color: black;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }